# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
env/
.venv/

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# ML / MLOPS ARTIFACTS
# =========================
mlruns/
artifacts/
models/
logs/

# =========================
# DATA (IMPORTANT)
# =========================
data/
*.csv
*.parquet

# =========================
# ENV FILES
# =========================
.env

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# MLFLOW
# =========================
mlartifacts/

# =========================
# DOCKER
# =========================
*.log